.calculatorViewContainer {
	display: block;
	min-width: 15rem;
	border: 1px solid var(--background-modifier-border);
	padding: 1.5em 1.5em;
	margin: 0.2em;
	box-sizing: border-box;
	container-type: inline-size;
	overflow: hidden;
	background-color: var(--background-primary);
}

.calculatorView {
	display: flex;
	flex-direction: column;

	font-size: clamp(0.5rem, 4cqw, 1rem);
}


