.ingredientItem {
	background-color: var(--background-primary-alt);
	padding: 0.4em 0.75em;
	text-align: left;
	border: 1px solid var(--background-modifier-border);
  border-radius: 0;
}

.noBorder {
	border: none;
	background-color: transparent;
}

.alignTextCenter {
	text-align: center;
}

.alignTextRight {
	text-align: right;
}

.horizontalDivider {
	border-bottom: 1px solid var(--text-accent);
}

.additionsTitle {
	font-size: 0.625em;
	line-height: 1em;
	color: var(--text-accent);
	letter-spacing: 0.1em;
}

.additionsIcon {
	width: 0.7em;
	height: 0.7em;
	color: var(--text-accent);
}
