.logo {
	height: max(2.5em, 1rem);
	color: #007AFF;
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.2s, transform 0.15s;
}

.logo:hover,
.logo:focus {
	color: #007AFF;
	opacity: 0.6;
}

.logo:active {
	color: #007AFF;
	opacity: 0.8;
	transform: translateY(2px);
}
