.logo {
	height: 2.3em;
	/* Disables size changing because of flex. */
	flex: 0 0 auto;
	color: #007AFF;
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.2s, transform 0.15s;
}

.logo:hover,
.logo:focus {
	color: #007AFF;
	opacity: 0.6;
}

.logo:active {
	color: #007AFF;
	opacity: 0.8;
	transform: translateY(2px);
}

.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5em;
	align-items: top;
}

.headerContent {
	display: flex;
	flex-direction: row;
}

.chartContainer {
	width: 7.8em;
	height: 7.8em;
}

.headerInfo {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
}

.headerTitle {
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.2em;
	font-family: system-ui;
}

.headerDate {
	color: var(--text-faint);
	font-size: 0.9em;
	line-height: 2em;
	font-family: system-ui;
}
