.stullPoint {
	transition: stroke 0.25s ease, stroke-width 0.25s ease;
	cursor: pointer;
	fill: var(--interactive-accent);
	color: var(--interactive-accent);
}
.stullPoint:hover {
	stroke: var(--interactive-accent-hover);
	stroke-width: 2px;
}

.stullPointTooltip {
	background-color: var(--background-secondary-alt);
	color: var(--text-normal);
	padding: .3em .5em;
	border-radius: 0.1875em;
	font-size: 0.8em;
	line-height: 1em;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	visibility: visible;
	display: block;
	border: thin solid var(--text-normal);
}

.stullPointTooltipHidden {
	opacity: 0;
	visibility: hidden;
}

.stullChartContainer {
	cursor: default;
	fill: var(--background-secondary);
}

.stullChartTickLabels {
	fill: var(--text-normal);
	opacity: 0.7;
}

.stullChartCrazingArea {
	fill: var(--color-base-60);
	opacity: 0.4;
}

.stullChartUnfusedArea {
	fill: var(--color-base-60);
	opacity: 0.3;
}

.stullChartMattesArea {
	fill: var(--color-base-50);
	opacity: 0.2;
}

.stullChartSemiMattesArea {
	fill: var(--color-base-35);
	opacity: 0.2;
}

.stullChartUnderfiredArea {
	fill: var(--color-base-60);
	opacity: 0.3;
}



