.track {
  width: 1.625em;
  height: 0.625em;
  background-color: var(--color-base-25);
  border-radius: 0.4375em;
  position: relative;
  display: inline-block;
  margin: 0 0.5em;
}

.thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: -0.1875em;
  left: -0.1875em;
  background-color: var(--color-base-40);
  box-sizing: border-box;
}

.checkedTrack {
	background-color: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) + 30%));
}

.checkedThumb {
  left: 0.8125em;
  background-color: hsl(var(--accent-h) var(--accent-s) calc(var(--accent-l) + 15%));
}
