.oxideSumContainer {
	margin-top: 1.125em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.oxideSum {
	font-weight: 400;
	font-size: 1em;
	color: var(--text-accent);
}

.coefficients {
	margin-top: 0.25em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
}

.segerFormulaItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.segerFormulaItemOxide {
	flex-basis: 50%;
	font-size: 0.875em;
	line-height: 1em;
}

.segerFormulaItemValue {
	flex-basis: 50%;
	font-size: 0.875em;
	line-height: 1em;
	text-align: right;
}

.verticalDivider {
	border-left: 1px solid var(--text-accent);
	align-self: stretch;
}

.segerFormulaViewHeaderStyle {
	align-self: center;
	font-weight: 400;
	font-size: 0.625em;
	line-height: 1em;
	padding-bottom: 1em;
	letter-spacing: 0.1em;
	color: var(--text-accent);
}

.segerFormulaContainer {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.segerFormulaColumnContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
