.viewSelectorContainer {
	display: inline-flex;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	overflow: hidden;
}

.viewSelectorOption {
	width: 3em;
	height: 2.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.875em;
	font-weight: 500;
	cursor: default;
	color: var(--text-faint);
	background-color: transparent;
}

.viewSelectorOption:not(:last-child) {
	border-right: 1px solid var(--background-primary-alt);
}

.viewSelectorOptionActive {
	background-color: var(--background-primary-alt);
	color: var(--text-accent);
}
